@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

select {
  @apply pb-[10px] border-b-[1px] border-peb-gray-1 focus:outline-none w-full h-[30px];
}

input {
  @apply pb-[10px] border-b-[1px] border-peb-gray-1 focus:outline-none w-full h-[30px];
}

input::placeholder {
  @apply text-lg tracking-[-0.02em] text-peb-gray-3;
}

label {
  @apply text-sm text-peb-gray-4;
}
